@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon + Ember);

#reviewsContainer {
  margin-left: 25%;
  margin-right: 39%;
}

#reviewBody {
  font-size: 13px;
  line-height: 19px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 7px;
}

.filled {
  color: orange;
}

.reviewTitle {
  font-weight: 700;
  margin-left: 10px;
  font-size: 13px;
  line-height: 19px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.reviewTitle:hover {
  color: #c45500 !important;
  cursor: pointer;
  text-decoration: underline;
}

.reviewName {
  margin-left: 10px;
  margin-bottom: 33px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 50px;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #111;
  vertical-align: 10px;
}

.verified {
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #c45500 !important;
  font-weight: 700 !important;
  font-size: 11px !important;
  line-height: 1.465 !important;
  margin-bottom: 5px;
}

.reviewDate {
  color: #555 !important;
  font-size: 13px;
  line-height: 19px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 1px;
}

#foundthishelpful {
  color: #767676;
  font-size: 13px;
  line-height: 19px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 8px;
}

.helpfulButton {
  height: 29px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
  width: 98px;
  color: #111;
}

.helpfulButton:hover {
  background-color: rgb(233, 233, 233);
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
}
.helpfulButton:focus {
  outline-color: rgb(209, 122, 8);
}

.reviewName:hover {
  cursor: pointer;
}

.reviewTitle:hover {
  cursor: pointer;
}

.fa:hover {
  cursor: pointer;
}

.avatar {
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 43px;
  height: 43px;
  border-radius: 40px;
  margin-left: -6px;
}

.avatar:hover {
  cursor: pointer;
}

.divider {
  display: inline-block;
  margin: -2px 0.67375em 0;
  width: 1px;
  background-color: #ddd;
  line-height: 0;
  height: 14px;
  vertical-align: middle;
}

.comment,
.reportAbuse {
  color: #767676;
  font-size: 13px;
  line-height: 19px;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.comment:hover,
.reportAbuse:hover {
  color: #c45500 !important;
  cursor: pointer;
}

.amazonStars:focus {
  outline: 0;
}

.amazonStars {
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 18px;
  margin-left: -5px;
}

.amazonStars:hover {
  cursor: pointer;
}

#containertopleft {
  float: left;
  margin-top: 0.3%;
  margin-left: 0.5%;
}

#customerReviews {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 700;
  font-size: 21px;
}

.oneStar {
  background-image: url("https://i.ibb.co/HD7rbg5/oneStar.png");
  margin-left: -3.2px;
}
.twoStars {
  margin-left: -3.5px;
  background-image: url("https://i.ibb.co/Bnpcrzp/twoStars.png");
}
.threeStars {
  background-image: url("https://i.ibb.co/XZbmRH1/three-Stars.png");
  margin-left: -3.5px;
}
.fourStars {
  background-image: url("https://i.ibb.co/MhF4bFg/fourrrrrr.png");
  margin-left: -4px;
}

.fiveStars {
  background-image: url("https://i.ibb.co/PcXMFVy/amazonstars2.png");
}

.helpfulClicked {
  width: 187px;
  height: 23px;
  font-size: 0px;
  border: none;
  background-image: url("https://i.ibb.co/pXPvY99/feedback.png");
  background-repeat: no-repeat;
  padding-top: 16px;
  margin-bottom: 24px;
  margin-left: -5.2px;
}

.helpfulClicked:focus {
  outline: 0;
}

.avatar1 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/ce8c1182fae1d7dc9dd404bb0fc3c5ac?set=set4&bgset=&size=400x400");
}

.avatar2 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/ce8c1182fae1d7dc9dd404bb0fc3c5ac?set=set4&bgset=&size=400x400");
}

.avatar3 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/ce8c1182fae1d7dc9dd404bb0fc3c5ac?s=400&d=robohash&r=x");
}
.avatar4 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/a6076802c5196f2976c9e15825294456?s=400&d=robohash&r=x");
}
.avatar5 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/aae29403c21a3848a6d84aa057a78e41?s=400&d=robohash&r=x");
}
.avatar6 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/aae29403c21a3848a6d84aa057a78e41?set=set4&bgset=&size=400x400");
}
.avatar7 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/64e8c6786607acad513af2eed085333e?set=set4&bgset=&size=400x400");
}
.avatar8 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/a4431555e5193be3803f9d291fe6c85d?set=set4&bgset=&size=400x400");
}
.avatar9 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/4cd4aefa1d1f382d6104392d59c5c3fd?set=set4&bgset=&size=400x400");
}
.avatar10 {
  width: 33px;
  height: 33px;
  background-image: url("https://api.adorable.io/avatars/400/4cd4aefa1d1f382d6104392d59c5c3fd.png");
}
.avatar11 {
  width: 33px;
  height: 33px;
  background-image: url("https://api.adorable.io/avatars/400/c75939b67ca5fae9f392567e6e2c7627.png");
}
.avatar12 {
  width: 33px;
  height: 33px;
  background-image: url("https://api.adorable.io/avatars/400/84ffa74b44a64a322f30ebf9763546ec.png");
}
.avatar13 {
  width: 33px;
  height: 33px;
  background-image: url("https://robohash.org/a69353a1c498c2c9e89b6d32f3489d5d?set=set4&bgset=&size=400x400");
}
.avatar14 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/a69353a1c498c2c9e89b6d32f3489d5d?s=400&d=robohash&r=x");
}
.avatar0 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/6bf7aa6f5606d3a061222991ba2b827d?s=400&d=robohash&r=x");
}
.avatar15 {
  width: 33px;
  height: 33px;
  background-image: url("https://gravatar.com/avatar/6bf7aa6f5606d3a061222991ba2b827d?s=400&d=robohash&r=x");
}

.avatar0:focus,
.avatar1:focus,
.avatar2:focus,
.avatar3:focus,
.avatar4:focus,
.avatar5:focus,
.avatar6:focus,
.avatar7:focus,
.avatar8:focus,
.avatar9:focus,
.avatar10:focus,
.avatar11:focus,
.avatar12:focus,
.avatar13:focus,
.avatar14:focus,
.avatar15:focus {
  outline: 0;
}

.sendingFeedback {
  background-color: white;
  background-image: url("https://i.ibb.co/7rBXVLn/sendingfeedback.png");
  width: 160px;
  height: 23px;
  font-size: 0px;
  border: none;
  content: "Sending Feedback...";
  background-repeat: no-repeat;
  padding-top: 16px;
  margin-bottom: 24px;
  margin-left: -5.2px;
}

.sendingFeedback:focus {
  outline: 0;
}

.customerReviewsStars:focus {
  outline: 0;
}

.customerReviewsStars {
  margin-top: 5px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 23px;
}

.fiveStarsBig {
  margin-left: -5px;
  background-image: url("https://i.ibb.co/8K5sJ5G/five-Stars.png");
}
.fourToFive {
  background-image: url("https://i.ibb.co/7kNHKCt/4-5stars.png");
  margin-left: -5px;
}
.threeToFour {
  background-image: url("https://i.ibb.co/V904dLM/three-To-Four.png");
  margin-left: -5px;
}

.twoStarsBig {
  margin-left: -5px;
  background-image: url("https://i.ibb.co/j3YJC0F/twoStars.png");
}
.fourStarsBig {
  margin-left: -4px;
  background-image: url("https://i.ibb.co/cwYpMHF/fourrrrrrrrrrrrrrrrrrrrrr.png");
}

.customerReviews {
  margin-bottom: 10px;
}

.nextToStarsText {
  margin-left: 10px;
  font-size: 17px;
  color: #111 !important;
  line-height: 1.255 !important;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 530;
}

.numberCustomerRatings {
  margin-top: 10px;
  color: #555 !important;
  font-size: 13px !important;
  line-height: 19px !important;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-bottom: 15px;
}

.bar {
  border-radius: 1px;
  background: #fb0;
  background: -webkit-linear-gradient(top, #ffce00, #ffa700);
  background: linear-gradient(to bottom, #ffce00, #ffa700);
  background-color: #ffce00;

  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #eee, #f6f6f6);
  background: linear-gradient(to bottom, #eee, #f6f6f6);
  background-color: #f3f3f3;

  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding-left: 185px;
  height: 13px;
}

.rightOfBar {
  padding-left: 10px;
}

.leftOfBar {
  padding-right: 10px;
}

.leftOfBar,
.rightOfBar {
  color: #0066c0;
  font-weight: 520;
  font-size: 13px !important;
  line-height: 15px !important;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.ratingsTable tr {
  line-height: 17px;
}

.ratingsTable {
  margin-bottom: -6px;
}

.underline:hover {
  color: #c45500 !important;
  cursor: pointer;
  text-decoration: underline;
}

.meter {
  padding: 1px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  background: #f2f2f2;
  background: -webkit-linear-gradient(top, #eee, #f6f6f6);
  background: linear-gradient(to bottom, #eee, #f6f6f6);
  background-color: #f3f3f3;

  border-radius: 1px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4),
    inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 17px;
  width: 70%;
}

.progress {
  border-radius: 1px;
  background: #fb0;
  background: -webkit-linear-gradient(top, #ffce00, #ffa700);
  background: linear-gradient(to bottom, #ffce00, #ffa700);
  background-color: #ffce00;
  display: block;
  height: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  margin-left: -4px;
  border-collapse: separate;
  border-spacing: 4px;
}

.meter:hover {
  cursor: pointer;
}

.amazonStars {
  position: relative;
}

.tooltip {
  opacity: 0;
  position: absolute;
  transition: 0s;
}

.amazonStars:hover .tooltip {
  display: block;
  width: 110px;
  border: solid black 1px;
  padding: 2px;
  margin-left: 75px;
  margin-top: 10px;
  background-color: white;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #767676;
  font-size: 12px;
  line-height: 19px;
}

.amazonStars:hover > .tooltip {
  opacity: 1;
  transition-delay: 0.5s;
}

.tooltip2 {
  transition: 0s;
  opacity: 0;
  position: absolute;
}

.meter:hover .tooltip2 {
  display: block;
  width: 181px;
  border: solid black 1px;
  padding: 2px;
  margin-left: 170px;
  margin-top: 10px;
  background-color: white;
  font-family: "Amazon Ember", Arial, sans-serif;
  color: #767676;
  font-size: 12px;
  line-height: 19px;
  padding-left: 6px;
  padding-right: 6px;
}

.meter:hover > .tooltip2 {
  opacity: 1;
  transition-delay: 0.5s;
}

.horizontalDivider {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 300px;
  background-color: #ddd;
  line-height: 0;
  height: 1px;
  vertical-align: middle;
}

.byFeature {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
}

.feature {
  margin-right: 155px;
  font-size: 13px !important;

  font-family: "Amazon Ember", Arial, sans-serif;
}

.featureDiv {
  margin-top: 12px;
}

.feature2 {
  margin-left: -4.5px;
}

.afterStar {
  margin-left: 4px;
  color: #767676 !important;
  font-size: 13px !important;
  line-height: 19px !important;
  font-family: "Amazon Ember", Arial, sans-serif;
}

.reviewThisProduct {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
}

.shareThoughts {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #111;
  margin-bottom: 10px;
}

.btnWriteReview {
  margin-top: 7px;
  height: 29px;
  font-weight: 400;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
  width: 66%;
  color: #111;
}

.btnWriteReview:hover {
  background-color: rgb(233, 233, 233);
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
}

.btnWriteReview:focus {
  outline-color: rgb(209, 122, 8);
}

.calculateStars {
  margin-top: 14px;
  margin-bottom: -8px;
  color: #0066c0;
  font-weight: 520;
  font-size: 13px !important;
  line-height: 19px !important;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-left: 10px;
}

.calculateStars:hover {
  color: #c45500 !important;
  cursor: pointer;
  text-decoration: underline;
}

.calculateExplain {
  font-size: 13px !important;
  line-height: 19px !important;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-left: 5px;
  margin-bottom: -10px;
}

.null {
  display: none;
  font-size: 0px;
}

.seeMore {
  margin-left: 5px;
}

.downArrow {
  width: 24px;
  height: 16px;
  font-size: 0px;
  border: none;
  background-image: url("https://i.ibb.co/dK5xcJJ/down-Arrow.png");
  background-repeat: no-repeat;
  margin-right: 3px;
  margin-left: -23px;
}

.arrow2 {
  margin-left: -20px;
}

.downArrow:focus {
  outline: 0px;
}
