body {
  z-index: 1;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 13px;
}

.Left-Col {
  width: 57%;
  float: left;
}

.Right-Col {
  padding: 20px;
  width: 275px;
  float: right;
}

.ItemName {
  line-height: 19px;
  font-size: 21px;
}

.Producer-Name {
  font-size: 13px;
  line-height: 0px;
}

.Orange-To-Blue {
  color: rgb(0, 102, 192);
}

.Orange-To-Blue:hover {
  color: rgb(196, 85, 0);
  text-decoration: underline;
  cursor: pointer;
}

.Number-Of-Ratings {
  box-sizing: border-box;
  font-size: 13px;
  line-height: 19px;
}

.Stars {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-59b95eac1db4a9d78e1e0c0b657cf66277a106ae._V2_.png);
  width: 80px;
  height: 18px;
  background-size: 400px 900px;
  display: inline-block;
  vertical-align: top;
}

.Ratings-Carrot {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-59b95eac1db4a9d78e1e0c0b657cf66277a106ae._V2_.png);
  width: 7px;
  height: 10px;
  background-size: 400px 900px;
  background-position: -90px -5px;
  display: inline-block;
  opacity: .6;
}

.Star-Modal {
  background-color: #fff;
  display: none;
  z-index: 2;
  position: absolute;
  width: 325px;
  border: solid;
  border-radius: 4px;
  border-width: .5px;
  border-color: lightgray;
  box-shadow: 0 4px 2px -2px lightgray;
  padding: 15px;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

.Star-Rating-Out-Of {
  font-size: 17px;
}

.Star-Modal-Number-Of-Ratings {
  font-size: 13px;
  color: #555;
}

.The-Word-Price {
  font-size: 13px;
  color: #555;
}

.Price {
  font-size: 17px;
  line-height: 1.255;
  color: #B12704;
  vertical-align: middle;
}

.Item-Details {
  text-align: left;
  display: flex;
  justify-content: left;
}

.Item-Details-List {
  padding: 15px;
  line-height: 19px;
}

.See-Customer-Reviews {
  text-align: center;
}

.Star-Bar-Container {
  padding-top: 6px;
  text-align: left;
  line-height: 19px;
}

.Star-Bar {
  /* text-align: left; */
  display: inline-block;
  height: 14px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
  background: linear-gradient(to bottom,#eee,#f6f6f6);
  border: 0 solid lightgrey;
  border-radius: 1px;
  vertical-align: top;
  margin-left: 20px;
  padding-left: 85px;
  padding-right: 140px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.Star-Bar-Number-Of-Stars {
  float: left;
}

.Star-Progress-Bar {
  border: solid;
  border-width: .5px;
  border-color: #b8862e;
  box-sizing: border-box;
  float: left;
  position: absolute;
  border: 1 solid;
  /* display: flex; */
  height: 5.5%;
  margin-left: -84px;
  margin-top: -1px;
  /* vertical-align: middle;
  padding: 10px; */
  /* padding-left: 100px;
  margin-bottom: 5px; */
  border-radius: 1px;
  float: left;
  background: linear-gradient(to bottom,#ffce00,#ffa700);
}

.Star-Percentage {
  float: right;
}

.Checkout {
  border: solid;
  border-radius: 3px;
  border-color: lightgrey;
  border-width: .5px;
}

.Checkout-Price {
  font-size: 17px;
  line-height: 1.255;
  color: #B12704;
  vertical-align: top;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 40px;
}

.Checkout-Price-Span {
  padding-left: 20px;
}

.Share {
  text-align: center;
  padding-bottom: 10px;
}

.Share-Icon:hover {
  cursor: pointer;
}

.Email {
  display: inline-block;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-beacon_light_2x-52cea4a4792e09b18250e55c890ebf59e44f3a54._V2_.png);
  background-size: 512px 256px;
  width: 19px;
  height: 17px;
  background-position: -256px -221px;
  background-repeat: no-repeat;
}

.Facebook {
  display: inline-block;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-beacon_light_2x-52cea4a4792e09b18250e55c890ebf59e44f3a54._V2_.png);
  background-size: 512px 256px;
  width: 17px;
  height: 17px;
  background-position: -297px -220px;
  background-repeat: no-repeat;
}

.Twitter {
  display: inline-block;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-beacon_light_2x-52cea4a4792e09b18250e55c890ebf59e44f3a54._V2_.png);
  background-size: 512px 256px;
  width: 18px;
  height: 17px;
  background-position: -277px -220px;
  background-repeat: no-repeat;
}

.Pinterest {
  display: inline-block;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-beacon_light_2x-52cea4a4792e09b18250e55c890ebf59e44f3a54._V2_.png);
  background-size: 512px 256px;
  width: 19px;
  height: 17px;
  background-position: -373px -220px;
  background-repeat: no-repeat;
}

.A-Letter-Space {
  padding: 3px;
}

.Carrot-And-Number-Of-Ratings-Space {
  padding-left: 30px;
}

.Share-Icons {
  vertical-align: middle;
}

.Checkout-hr {
  width: 85%;
}

.Checkout-Button-Container {
  text-align: center;
  padding-bottom: 10px;
}

.Checkout-Button {
  font-size: 14px;
  background-image: linear-gradient(#f6dda0, #f0c14c);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  border-width: 1px;
  width: 85%;
  height: 100%;
  line-height: 29px;

}

.Checkout-Button:hover {
  background-image: linear-gradient(#f5d689, #eeb934);
  cursor: pointer;
}

.Shopping-Cart-Icon {
  display: inline-block;
  float: left;
  margin-top: 3px;
  margin-left: -2px;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-59b95eac1db4a9d78e1e0c0b657cf66277a106ae._V2_.png);
  background-size: 400px 900px;
  background-position: -35px -5px;
  height: 25px;
  width: 25px;
}

.Buy-Now-Button-Container {
  text-align: center;
}

.Buy-Now-Button {
  font-size: 14px;
  background-image: linear-gradient(#f6c58a, #ee9322);
  border-color: #be751a #b26d18 #9a5f15;
  border-radius: 3px;
  border-width: 1px;
  width: 85%;
  height: 100%;
  line-height: 29px;

}

.Buy-Now-Button:hover {
  background-image: linear-gradient(#f3b971, #e28614);
  cursor: pointer;
}
.Play-Icon {
  display: inline-block;
  float: left;
  margin-top: 3px;
  margin-left: -2px;
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-59b95eac1db4a9d78e1e0c0b657cf66277a106ae._V2_.png);
  background-size: 400px 900px;
  background-position: -35px -60px;
  height: 25px;
  width: 25px;
}

.Add-To-List-Button {
  color: #111;
  font-size: 14px;
  border-color: grey;
  text-align: left;
  width: 85%;
  height: 100%;
  background-image: linear-gradient(#fcfcfd, #e8e9ec);
  border-radius: 3px;
  border-color: #ADB1B8 #A2A6AC #8D9096;
  line-height: 29px;
}

.Add-To-List-Button:hover {
  cursor: pointer;
  background-image: linear-gradient(#f5f7f9, #dadce1);
}


/* mystyles */
body{
  margin: 0;
}

.single-item_container{
  width: 80%;
  margin: 10% auto;
  text-align: center;
  display: flex;
}

.alt-image_container{
  width: 42px;
  display: flex;
  flex-direction: column;
}
.alt-image{
  width: 40px;
  border: 1px solid #a2a6ac;
  border-radius: 2px;
  height: 40px;
  cursor: pointer;

}
.selected{
  border-color: #e77600;
  box-shadow: 0 0 3px 2px rgba(228, 121, 17, .5);
  outline: 0;
}
.alt-image{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.alt-image_last{
  width: 40px;
  height: 40px;
}
.main-image_container{
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image{
  max-width: 565px;
  max-height: 471px;
}

.modal{
  overflow: hidden;
  background-color: white;
  z-index: 199;
  box-shadow: rgba(0,0,0,0.25), 0px, 6px, 8px, 2px;
  border: 1px solid rgb(148,148,148);
  width: 720px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > img{
  display: block;
  position: relative;
}

#mags{
  background-image:url('https://images-na.ssl-images-amazon.com/images/G/01/apparel/rcxgs/tile._CB483');
  cursor: pointer;
  width: 227px;
  height: 110px;
  position: absolute;
}
